/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.relative{
    position: relative;
}

/* header */

li{
    position: fixed;
    z-index: 1;
    display: inline-block;
    margin: 0 20px;
    margin-top: 1%;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.li3{
    top: 0%;
    right: 2%;
}

.li2{
    top: 0%;
    right: 6%;
}

.li1{
    top: 0%;
    right: 10%;
}

/* Box */

.box-red{
    background-color: red;
    width: 100vw;
    height: 100vh
}

.scarpa{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
}

.box-green{
    background-color: green;
    width: 100vw;
    height: 100vh
}

.box-yellow{
    background-color: yellow;
    width: 100vw;
    height: 100vh
}

/* Testo */

span{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -30%);
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 4px 4px #000;
}

/* colori */

.c-yellow{
    color: yellow;
}

.c-green{
    color: green;
}
